{% extends 'base.html' %}

{% block content %}

<!-- TODO: Implementar input de la funcion -->

<div id="container-fluid text-center">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card-container">
                <div class="card">
                    <h1>Newton Method</h1>

                    <!-- TODO: Este formulario deberia actuar como componente -->
                    <math-field id="function" style="min-width: 200px;">e^{-x}+\sin x</math-field>
                    <button id="calculation-btn">Graficar funcion</button>

                    {% if answer %}
                    <div class="result">
                        <h1>{{answer}}</h1>
                    </div>
                    {% endif %}

                </div>
                <div class="card" id="graph"></div>
            </div>
        </div>
    </div>

    <script>

        const mathField = document.getElementById('function');
        const ce = new ComputeEngine.ComputeEngine();

        document.getElementById("calculation-btn").addEventListener("click", (event) => {

            const ceExpression = ce.parse(mathField.value, { canonical: false }).toString();

            //Esta funcion se encarga de camibiar el formato String a ECMAScript 
            function toECMAScript(expr) {
                return expr
                    .replace(/e\^/g, "exp")   // e^ → exp
                    .replace(/\bpi\b/gi, "PI") // pi → Math.PI
            }


            //TODO: Mandar la funcion al backend para obtener los resutados del metodo y recibirrlos
            fetch('/calculations/validateFunction', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({ function: mathField.getValue('math-json') })
            })


            // Graficar la función
            functionPlot({
                target: "#graph",
                grid: true,
                data: [
                    {
                        fn: toECMAScript(ceExpression)
                    }
                ]
            });

        })
    </script>


</div>

{% endblock %}