{% extends 'base.html' %}

{% block content %}

<!-- TODO: Implementar input de la funcion -->

<div id="content">

    <div class="card-container">
        <div class="card">
            <h1>Newton Method</h1>


            <!-- TODO: Este formulario deberia actuar como componente -->
            <!-- TODO: Este input deberia ser un teclado matematico con mathquill para obtener el LaTeX-->
            <math-field id="function" style="min-width: 200px;">f(x) = \sin(x+\pi)</math-field>
            <button id="calculation-btn" type="submit">Graficar funcion</button>



            <!-- TODO: Implementar graficador para el metodo de la grafica. -->
            {% if answer %}
            <div class="result">
                <h1>{{answer}}</h1>
            </div>
            {% endif %}



        </div>
        <div class="card" id="graph"></div>
    </div>


    <script>

        const mathField = document.getElementById('function');
        const ce = new ComputeEngine.ComputeEngine();

        document.getElementById("calculation-btn").addEventListener("click", (event) => {

            // TODO: Implementar conversion de LaTeX a JS Math para pasar la funcion a function-plot
            const ceExpression = ce.parse(mathField.value,{canonical: false}).toString();
                        
            console.log(ceExpression)


            //Esta funcion se encarga de camibiar el formato String a ECMAScript 
            function toECMAScript(expr) {
            return expr
                .replace(/e\^/g, "exp")   // e^ → exp
                .replace(/\bpi\b/gi, "PI") // pi → Math.PI
            }

            console.log(toECMAScript(ceExpression))

            fetch('/calculations/validateFunction', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({ function:mathField.getValue('math-json')})
            })
            

            // Graficar la función
            functionPlot({
                target: "#graph",
                grid: true,
                data: [
                    {
                        fn: toECMAScript(ceExpression)
                    }
                ]
            });

        })
    </script>


</div>

{% endblock %}