{% extends 'base.html' %}

{% block content %}

<div id="content">
    <div class="container text-center">
        <div class="row align-items-center g-5">
            <h1>SACA_JUDAS</h1>
        </div>
        <div class="row align-items-center g-5">
            <div class="col-12 col-sm-6">
                <div class="card text-center border-dark my-2 text-white border-white"
                    style="background-color: rgba(255, 255, 255, 0.1);">
                    <div class="card-header">
                        Automatic
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">💬 Chat with assistant</h2>
                        <h6 class="card-subtitle fw-bold mb-4">Prefer a conversational approach? Chat with our assistant
                            </h3>
                            <p class="card-text text-wrap">
                                Use an AI-based numerical methods calculator with the power of AI-based analysis
                            </p>
                            <a href="/options" class="card-link btn btn-primary">Use</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card text-center border-dark my-2 text-white border-white"
                    style="background-color: rgba(255, 255, 255, 0.1);">
                    <div class="card-header">
                        Automatic
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">💬 Chat with assistant</h2>
                        <h6 class="card-subtitle fw-bold mb-4">Prefer a conversational approach? Chat with our assistant
                            </h3>
                            <p class="card-text text-wrap">
                                Use an AI-based numerical methods calculator with the power of AI-based analysis
                            </p>
                            <a href="/options" class="card-link btn btn-primary">Use</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


{% endblock %}