<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SACA_JUDA Calculator Animation</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
</head>
<body>
    <div id="content">
        <h1>SACA_JUDAS</h1>
        <a href="/calculations"><button id="calculation-btn">Calculation</button></a>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>